# Topics Covered:
###  Data Types
### Variables
### Print Formatting 
### Variable Assignment

### Integer ,String and Float and Bool

In [11]:
a= 1
type(a)

int

In [12]:
z=1.2
type(z)

float

In [4]:
b=111111111111111111200000000000000
type(b)

int

In [6]:
c= 'hey'
type(c)

str

In [1]:
type(True)

bool

NOTE - There's no need of double and long in python.
- We don't have to explicitly declare the data types of variables. Python does it for us. Python knows the type of a literal in the source from the syntax e.g. quotes to make something be a string value, or square brackets to make something be a list or curly brackets to make something be a dictionary. Number without a decimal point for an integer. Number with a decimal point for a float
     
## Compiler automatically determines the data type and we dont need to declare them.

## Print

In [36]:
a='Hello'

In [37]:
print(a)

Hello

#### Example 1

In [2]:
F_name= 'Sidharth'
L_name= 'Vats'
print("Hey there, My first name is {} and my last name is {}.".format(F_name,L_name))

Hey there, My first name is Sidharth and my last name is Vats.

### Alternatives

In [3]:
print("Hey there, My first name is {f} and last name is {l}.".format(f=F_name,l=L_name))

Hey there, My first name is Sidharth and last name is Vats.

#### or

In [4]:
print("Hey there, My first name is " + F_name + " and my last name is "+L_name+'.')

Hey there, My first name is Sidharth and my last name is Vats.

In [6]:
print("Hey there, My first name is",F_name,"and my last name is ",L_name,'.')

Hey there, My first name is Sidharth and my last name is  Vats .

# String Formatting

In [17]:
s = 'aabrakadabra'

In [19]:
# First 5 characters/alphabets
s[0:5]
# The last value is not included

'aabra'

In [20]:
# nth character
s[3]

'r'

In [22]:
# nth element from backward
s[-2]

'r'

In [23]:
# From beginning to the nth element from end (Here Also, the Last Value is not included)
s[0:-3]

'aabrakada'

In [25]:
S1 = 'Sidharth Vats'