In [2]:
F_name= 'Sidharth'
L_name= 'Vats'

In [45]:
a= "Hey there, My first name is " + F_name + " and my last name is "+L_name+'.'

In [46]:
b="Hey there, My first name is" , F_name , "and my last name is ",L_name,'.'

In [47]:
a==b

False

In [48]:
print(a)

Hey there, My first name is Sidharth and my last name is Vats.

In [49]:
print(b)

('Hey there, My first name is', 'Sidharth', 'and my last name is ', 'Vats', '.')

In [50]:
type(a)

str

In [51]:
type(b)

tuple

In [52]:
print("Hey there, My first name is " + F_name + " and my last name is "+L_name+'.')

Hey there, My first name is Sidharth and my last name is Vats.

In [56]:
print("Hey there, My first name is" , F_name , "and my last name is ",L_name,'.')

Hey there, My first name is Sidharth and my last name is  Vats .

### The simplest way to produce output is using the print() function where you can pass zero or more expressions separated by commas. 

# This function converts the expressions you pass into a string before writing to the screen.